.detailsContainer {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border: 1px solid lightgray;
    margin-top: 5px;
    height: 60px;
    border-radius: 4px;
    & > .itemsRemained {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.7);
        & > span {
            font-weight: bold;
        }
    }
    & > .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
            font-size: 16px;
            margin: 0px 5px;
            cursor: pointer;
            & > .active {
                font-weight: bold;
            }
        }
        
    }
    & > .clearCompleted {
        background-color: lightgray;
        border: none;
        height: 30px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.7);
    }
}