$xs: 0px;
$sm: 480px;
$md: 800px;
$lg: 1200px;
$xlg: 1800px;

.mainContainer {
    width: 1200px;
    height: 520px;
    margin: calc(50vh - 260px) auto;
    @media (max-width: $xlg) {
        width: 1000px;
    }
    @media (max-width: $lg) {
        width: 700px;
    }
    @media (max-width: $md) {
        width: 480px;
    }
    @media (max-width: $sm) {
        width: 95%;
    }
    & > .title {
        color: #C0C0C0;
        font-size: 50px;
        line-height: 50px;
        font-weight: bold;
        text-align: center;
        margin: 0px 0px 40px; 
    }
    & > .todoBox {
        width: 100%;
        max-height: 328px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-top: 20px solid gray;
        border-radius: 4px;
        overflow-y: auto;
        & > .itemContainer:last-child {
            border-bottom: none;
        }
    }
}