.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    height: 75px;
    border-bottom: 1px solid lightgray;
    & > p {
        width: calc(100% - 100px);
        margin: 0px;
        color: black;
        font-size: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    & > input {
        border: 1px solid lightgray;
        height: 50px;
        font-size: 24px;
        border-radius: 4px;
        width: calc(100% - 100px);
        padding: 0px 10px 0px 10px;
    }
    & > input:focus {
        outline: none;
    }
    & > .actionsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > img {
            cursor: pointer;
        }
        & > .checkImg {
            width: 20px;
            cursor: pointer;
            margin-right: 15px;
        }
    }
}