.addContainer {
    height: 80px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    & > input {
        width: 90%;
        height: 78px;
        border: none;
        font-size: 24px;
        color: black;
    }
    & > input:focus {
        outline: none;
    }
    & > input::placeholder {
        color: gray;
        font-style: italic;
    }
    & > img {
        cursor: pointer;
    }
}